
@font-face {
  font-family: 'Akzidenz Bold';
  src: url('../fonts/Berthold Akzidenz Grotesk Bold.eot');
  src: url('../fonts/Berthold Akzidenz Grotesk Bold.woff') format('woff'), url('../fonts/Berthold Akzidenz Grotesk Bold.ttf') format('truetype'), url('../fonts/Berthold Akzidenz Grotesk Bold.svg') format('svg');
}

@font-face {
    font-family: 'Kalinga';
    src: url('../fonts/kalinga.eot');
    src: url('../fonts/kalinga.eot?#iefix') format('embedded-opentype'), url('../fonts/kalinga.woff') format('woff'), url('../fonts/kalinga.ttf')  format('truetype'), url('../fonts/kalinga.svg#kalinga') format('svg'); 
}