/* DEELNEMERS */
.user{ 
  .profile-picture{
      width: 120px;
      height: 120px;
      overflow:hidden;
      border-radius: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
    }
    .bottle-trophies{
      display: inline-block;
    }
    
    .bottle-trophies:before{
      content: '\f091';
      font-family: fontawesome;
      margin-right: 5px;
    }
    
    .owner{
      margin: 15px 0 5px 0;
      position: relative;
      font-weight: bold;
    }
  
  .bottles{ 
    padding: 10px 35%;
    margin-top: 5px;
    
    .icon-bottle-empty:before{
      font-size: 20px;
      position:absolute;
      margin-left: -10px;
    }
    
    .number-bottles{
      float: left;
    }    
    .number-trophies{
      float: right;
    }
  }
  
  .stats{
    text-align: center;
    height: 35px;
    p{
      display: inline-block;      
      padding: 0 10px;
      color: $text-color-light;
      width: 36%;
      text-align: left;
    }
    p:first-child{
      border-right: 1px solid $text-color-light;
      text-align: right;
    }
  }
}

#trophy-users{
  .item{
    padding: 4% 2% 4% 2%;
  }
  
  .user{
    padding: 4% 2% 5.2% 2%;
    
    .profile-picture{
      width: 62%;
      position: relative;
      height: auto;
      margin-top: 13%;
      img:first-child{
        width: 100%;
        height: auto;
      }
      img:last-child{
        position:absolute;
        height: 100%;
        width: auto;
        top: 0;
        left: 0;
      }
       img {
      	opacity:0;
      }
    }
    .stats{
      margin-bottom: 14%;
    }
  }
}

#user-tropies-user.items{
  overflow: initial;
  padding: 0;
}

#user-tropies.items{
  overflow: initial;
  padding: 0;
}

