.graph{
  background: #fff;
  margin-bottom: 1%;
  position: relative;
  overflow:hidden;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);  
  height: 265px;
  padding: 0 10px;
  @media screen and (max-width: 1100px) { 
    margin-bottom: 3%;
  }
  
  #myChart{
  	
  }
  
  .chart{
    margin: 5px;
  }
  
  h2{
    font-family: $text-bold-font;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 16px 6px 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
    margin: 0 -10px;
  } 
  
  table{
    margin: 3% 9%;
    tr{
      height: 15px;
      width: 100%;
    }
    th{
      font-family: $text-bold-font;
      text-align: left;
      width: 110px;
      text-transform: capitalize;
      font-size: 12px;
    }
    td{
      font-size: 12px;
    }
  }
  
  .statics-background{
    background: url("../img/bottle.svg") no-repeat;
    opacity: 0.08;
    top: 53px;
    right: -20px;
    position: absolute;
    width: 40%;
    height: 165%;
    background-size: contain;
  }
  
}

.welcome{
  @extend .graph;
  h2{
    padding: 5px 30px 5px 0px;
    margin: 0;
    font-family: $text-main-font;
    font-size: 24px;
    border-bottom: none;
  }
  h3{
    font-family: $text-main-font;
    font-size: 18px;
    line-height: 24px;
    color: $text-color-light;
    margin-bottom: 10px;
  }
  
}

#profiteur-container{
	text-align: center;
	.profiteur{
	  border-radius:50%;
	  height:100px;
	  width: 100px;
	  overflow: hidden;
	  margin-left: auto;
	  margin-right: auto;
	  
	  img{
	    height: 100%;
	    width: auto;
	  }
	}
	h3{
	  font-family: $text-bold-font;
	  margin: 0 20px 5px 20px;
	  font-size: 16px;
	}
	i{
	  color: $text-color-light;
	}
	span{
	  display:block;
	  margin: 0 20px;
	  strong{
	    font-family: $text-bold-font;
	  }
	}
}



.col{
  box-sizing: border-box; 
  float:left;
}

.col-1{
  width: 99%; 
  
}

.col-2{ 
  width: 49%;   
  
}

.col:nth-child(odd){
  margin-right: 1%;
}

.col-3{
  width: 32%; 
  @media screen and (max-width: 1100px) { 
    width: 99%;  
  }
}

.col-32{
  width: 66%;
  @media screen and (max-width: 1100px) { 
    width: 99%;  
  }
}

.col-22{
  width: 49%;
  height: auto;
  @media screen and (max-width: 1100px) { 
    width: 99%;  
  }
}
