#users{
  .user{  
    .profile-picture{
      width: 120px;
      height: 120px;
      overflow:hidden;
      border-radius: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      
      img{
        height: 100%;
        width: auto;
      }
    }
    .bottle-trophies{
      display: inline-block;
    }
    
    .bottle-trophies:before{
      content: '\f091';
      font-family: fontawesome;
      margin-right: 5px;
    }
    
    .owner{
      margin: 15px;
      position: relative;
      font-weight: bold;
    }
  }
}
